.card-wrapper {
  width: 100%;
}

.card {
  margin: 0 auto;
}

.card__section {
  max-width: 1140px;
  margin: 0 auto;
}

.card__section_blue {
  background-color: #012d49;
}

.card__model {
  font-size: 30px;
  font-weight: 300;
  color: #012d49;
  margin: 0;
  padding-bottom: 14px;
}

.card__item_name {
  font-size: 44px;
  font-weight: 800;
  color: #012d49;
  margin: 0;
  max-width: 50%;
  padding-bottom: 28px;
}

.card__about-wrapper {
  display: flex;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card__content {
  display: flex;
  padding-top: 20px;
  padding-bottom: 40px;
  justify-content: space-between;
}

.card__poster {
  width: 40%;
}
